# Strings

In [1]:
#Strings in python are surrounded by either single quotation marks, or double quotation marks.

s1= 'it is raining' #single line quote
s2= "it is raining" #double line quote
s3='''it is raining, 
we will go out,
and samosa.''' #Multiline quote
print(s1, s2, s3, sep='\n')

it is raining
it is raining
it is raining,
we will go out,
and samosa.

### Concatenation

In [2]:
a= 'Hyper'
b= 'link'
c = a + '-' +b
print (c)

Hyper-link

In [3]:
v= 'Logitech'
v*3,v+v

('LogitechLogitechLogitech', 'LogitechLogitech')

In [4]:
x = 'google class room'
x[:7]+x[-1:-10:-2]

'google mo sl'

In [5]:
x ='Scan the QR Code'
'scan' in x,'Scan' in x

(False, True)

<mark>Mutable objects are those that allow you to change their value or data in place without affecting the object's identity.</mark>


<mark>Immutable data types are those, whose values cannot be modified once they are created.</mark>

### Indexing

In [6]:
#positive indexing
x='jupyter note book'
print(x[:len(x):2], x[5:15:1], sep='\n')

jptrnt ok
er note bo

In [7]:
#negative indexing
x='jupyter note book'
print(x[::-1], x[-5:-18:-2],sep='\n')

koob eton retypuj
 tnrtpj

### Methods in string

In [8]:
dir(x)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [9]:
#upper()
m= 'the BRAVE man got!!!!  killed?'
m.upper()                             #All the letter turns into upper case

'THE BRAVE MAN GOT!!!!  KILLED?'

In [10]:
#lower()
m.lower()                           #All the letter turns into lower case

'the brave man got!!!!  killed?'

In [11]:
#title()
m.title()                            #letters before space/any numbers are turns into upper case

'The Brave Man Got!!!!  Killed?'

In [12]:
#swapcase()
m.swapcase()                         #All letters that are lower turns into upper and upeercase turns into lowercase

'THE brave MAN GOT!!!!  KILLED?'

In [13]:
#capitalize()
m.capitalize()                       #the first letter turns upper case.

'The brave man got!!!!  killed?'

In [14]:
#replace()
m.replace('man','woman')            #replace letters or words in sentence

'the BRAVE woman got!!!!  killed?'

In [15]:
#order()
ord('h')                                 #gives the numbers every letter and other charters

104

In [16]:
print(ord('A'))
print(chr(ord('a')-32))

65
A